.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.product {
  background-color: brown;
  color: aliceblue;
  border: 2px solid lightcoral;
  padding: 15px;
  margin: 20px;
  border-radius: 20px;
}

.bike {
  background-color: lightsalmon;
  color: seagreen;
  border: 2px solid royalblue;
  padding: 15px;
  margin: 20px;
  border-radius: 20px;
}

.counter {
  background-color: burlywood;
  padding: 10px;
  border: 5px solid orange;
  margin: 20px;
}

.button {
  background-color: orange;
  padding: 5px;
}

.user {
  background-color: cornflowerblue;
  border: 2px solid darkgreen;
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
  text-shadow: 5px;

}